<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pet dos Pets</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Kelly
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0"><a href="../index.html">Pet Dos Pet</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="../index.html">Página Inicial</a></li>
          <li><a class="active" href="about.html">Sobre nós</a></li>
          <li><a href="shop.html">Loja</a></li>
          <li><a href="adoptpage.html">Animais para adoção</a></li>
          <li><a href="favorites.html">Favoritos</a></li>
          <li><a href="contact.html">Contacto</a></li>
        </ul>       <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Sobre Nós</h2>
          <p>
            Bem-vindo à nossa Loja de Adoção de Animais! Mais do que um simples estabelecimento, somos um lar em potencial para corações peludos e amorosos que aguardam ansiosamente uma nova família. Aqui, celebramos a alegria da adoção, unindo criaturas adoráveis a lares amorosos.
            <br><br>
            
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="../assets/img/hero-bg.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Pet dos Pets</h3>
            <p class="fst-italic">
              A nossa missão vai além de simplesmente oferecer animais para adoção. Cada patinha que entra pelas nossas portas traz consigo uma história única, uma personalidade vibrante e a promessa de uma amizade para toda a vida. Esforçamo-nos por criar um ambiente onde cães e gatos recebam cuidados amorosos, atenção e a oportunidade de encontrar um lar seguro e acolhedor.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Localização:</strong> Portugal</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Cidade  :</strong> Leiria</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> www.petdospets.com</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Telemovel:</strong> +351 967 450 273</li>
                  
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Código Postal:</strong> 2400-441</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Tema:</strong> Animais</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> petdospets@gmail.com</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Colaboradores:</strong> Pedro Agostinho/Ruben Gomes/Bruna Indio</li>
                </ul>
              </div>
            </div>
            <p>
              Junte-se a nós nesta jornada de amor, compaixão e laços inquebráveis entre humanos e seus amigos de quatro patas. Explore a nossa loja, conheça os nossos adoráveis residentes e talvez encontre o seu novo melhor amigo para a vida toda.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <section>
    <!-- ======= Contact Page Section ======= 

    <section>     
      <div>
        <label for="email">Email: </label>
        <input type="text" name="email" value="email">
        <label for="titulo">Titulo: </label>
        <input type="text" name="title" value="title">
        <label for="message">Mensagem: </label>
        <input type="text" name="message" value="message">

      </div>  
       -->

    </section><!-- End Contact Page Section -->
                                         
      </main><!-- End #main -->

      <!-- ======= Footer ======= -->
      <footer id="footer">
        <div class="containerfooter">
          <div class="copyright">
            &copy; Copyright <strong><span>IPL</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/ -->
            Designed by <b>Nós</b>
          </div>
        </div>
      </footer><!-- End  Footer -->
    </section>
     <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>
